$h1_font_size: 30px;
$menu_font_size: 20px;

.md-toolbar-tools {
	display: flex;
	justify-content: center;
	font-size: $h1_font_size;
}
.nav-content {
	display: flex;
	flex-flow: row wrap;

	.nav-option {
		width: 100%;
		padding: 5px 0px 5px 0px;
		margin: 0px;
		font-size: $menu_font_size;
	}
	.naw-option--normal {
    	border-bottom: 1px solid rgba(0.1, 0.1, 0.1, 0.2);
	}
	.nav-option--close {
    	border-bottom: 1px solid grey;
	}
}