$early_color : yellow;
$day_color: orange;
$late_color: grey;
$night_color: black;

body {
}

.c-label{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.c-day{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    opacity: 0.85;
    font-size: 30px;
    &:hover{
        opacity: 1;
        font-size: 40px;
        transition: 0.1s linear;
    }
}

.c-day--early{
    background: $early_color;
}

.c-day--day{
    background: $day_color;
}

.c-day--late{
    background: $late_color;
    color: white;
}

.c-day--night{
    background: $night_color;
    color: white;
}

.c-day--off{
    background: white;
    color: black;
}




.o-full-schedule{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    height: 100%;
    max-width: 1150px;
}

.c-full-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: #F5F5F5;
    margin: 5px;
    width: 150px;
    height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.c-shift {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #DADADA;
}

.c-shift--early{
    background: $early_color;
}

.c-shift--day{
    background: $day_color;
}

.c-shift--late{
    background: $late_color;
}

.c-shift--night{
    background: $night_color;
    color: white;
}

.o-legend{
    background: #F5F5F5;    
    margin: 10px 0px 10px 5px;
    width: 150px;
}

.c-legend-element{
    display: flex;
    justify-content: space-between;
    
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid #DADADA;
}

.c-day-name{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.o-constraints{
    display: flex;
    flex-flow: row wrap;
}

.c-constraint{
    margin: 15px 40px 5px 5px;
}

.c-file-input-form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 

    span {
        margin: 6px 8px;
    }

}

.o-first-week-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.c-custom-button{
    width: 289px !important;
    height: 60px !important;
    margin-left: 0px !important;
    background-color: #d3394c !important;
    &:hover {
        background-color: #722040 !important;
    }
}

.c-loader {
    position: absolute; 
    top: 50%; 
    right: 50%;
}