<!DOCTYPE html>
<html>

	<script src="node_modules/angular/angular.js"></script>
	<script src="app/src/NavController.js"></script>
	<script src="app/src/ServerService.js"></script>
	<script src="app/src/HomeController.js"></script>
	<script src="app/src/FullScheduleController.js"></script>
	<script src="app/src/NurseScheduleController.js"></script>
	<script src="app/src/ConstraintsController.js"></script>
	<script src="app/src/GeneratorController.js"></script>
	<script src="node_modules/angular-material/angular-material.js"></script>
	<script src="node_modules/angular-animate/angular-animate.js"></script>
	<script src="node_modules/angular-aria/angular-aria.js"></script>
	<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
	
<!--<script type="text/javascript" src="app/src/ScheduleDirective/ScheduleDirective.js"></script>-->

	<head>
		<title>Nurse Schedule</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/left-nav.css">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/main-content.css">
		
	</head>
	<body ng-app="myApp">
		<div ng-controller="NavController" layout="column" id="left-nav" ng-cloak>

      <section layout="row" flex>
        <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')"
          md-whiteframe="4"
          style="height:100%">
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
          </md-toolbar>
          <md-content ng-controller="LeftCtrl as $leftNavCtrl" class="nav-content">
            <md-button ng-class="$leftNavCtrl.homeFlag ? 'nav-option--chosen' : ''" 
              ng-click="$leftNavCtrl.showHome()" 
              class="md-primary nav-option nav-option--normal">
              Home
            </md-button>
            <md-button ng-class="$leftNavCtrl.fullScheduleFlag ? 'nav-option--chosen' : ''" 
              ng-click="$leftNavCtrl.showFullSchedule()" 
              class="md-primary nav-option nav-option--normal">
              Full schedule
            </md-button>
            <md-button ng-class="$leftNavCtrl.nurseScheduleFlag ? 'nav-option--chosen' : ''" 
              ng-click="$leftNavCtrl.showNurseSchedule()" 
              class="md-primary nav-option nav-option--normal">
              Schedule for nurse
            </md-button>
            <md-button ng-class="$leftNavCtrl.constraintsFlag ? 'nav-option--chosen' : ''" 
              ng-click="$leftNavCtrl.showCheckConstraints()" 
              class="md-primary nav-option nav-option--normal">
              Check Constraints
            </md-button>
            <md-button ng-class="$leftNavCtrl.generatorFlag ? 'nav-option--chosen' : ''" 
              ng-click="$leftNavCtrl.showGenerateSchedule()" 
              class="md-primary nav-option nav-option--normal">
              Generate new schedule
            </md-button>
            <md-button hide-gt-md ng-click="$leftNavCtrl.close()" 
            class="md-warn nav-option nav-option--close">
              Close Sidenav
            </md-button>
          </md-content>
        </md-sidenav>
        <div style="position: absolute">
          <md-content>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
                Menu
            </md-button>
          </md-content>
        </div>
        </br>
        
        <div layout="column" ng-cloak>
          <section layout="column" id="main-content" layout-padding>
            <div>

              <div ng-controller="HomeController as $homeCtrl">
                <div ng-if="$homeCtrl.showMe">
                  <h1>Nurse Scheduling Application (NSA)<h1>
                    <img src="app/images/nurses.jpg" alt="nurses">
                </div>
              </div>
              <div ng-controller="FullScheduleController as $fullCtrl">
                <div ng-if="$fullCtrl.showMe">
                  <div class="o-legend" md-whiteframe="5">
                    <div class="c-legend-element">
                      <span>Early: </span>
                      <span class="c-shift--early">&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div class="c-legend-element">
                      <span>Day: </span>
                      <span class="c-shift--day">&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div class="c-legend-element">
                      <span>Late: </span>
                      <span class="c-shift--late">&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div class="c-legend-element">
                      <span>Night: </span>
                      <span class="c-shift--night">&nbsp;&nbsp;&nbsp;</span>
                    </div>
                  </div>
                  <div class="o-full-schedule">
                    <div class="c-full-day" 
                      ng-repeat="day in $fullCtrl.fullScheduleJson track by $index"
                      md-whiteframe="5">
                      <div class="c-day-name">{{$fullCtrl.getDayName($index)}}</div>
                      <div class="c-shift" ng-repeat="shift in day.shifts">
                        <span>{{shift.nurseName}}</span>
                        <span ng-class="
                          shift.signature==='E' ? 'c-shift--early' 
                            : (shift.signature==='D' ? 'c-shift--day' 
                            : (shift.signature==='L' ? 'c-shift--late' 
                            : 'c-shift--night'))
                          ">
                          &nbsp;&nbsp;&nbsp;
                        </span>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              <div ng-controller="NurseScheduleController as $nurseCtrl">
                <div ng-if="$nurseCtrl.showMe">
                  <md-input-container>
                    <label>Nurses</label>
                    <md-select ng-model="$nurseCtrl.chosenNurse" 
                      md-selected-text="$nurseCtrl.getSelectedText()" 
                      ng-change="$nurseCtrl.changeNurse()">
                      <md-optgroup label="nurses">
                        <md-option ng-value="nurse" ng-repeat="nurse in $nurseCtrl.nurses">
                          {{nurse.name}}
                        </md-option>
                      </md-optgroup>
                    </md-select>
                  </md-input-container>

                  <div ng-if="$nurseCtrl.chosenNurse">
                    </br>

                    <div layout="row" >
                      <div ng-repeat="name in $nurseCtrl.DAY_NAMES" class="c-label" md-whiteframe="7">
                        <span>{{name}}</span>
                      </div>
                    </div>

                    <div layout="row" 
                      ng-repeat="week in $nurseCtrl.weekJson.weeks track by $index">
                      <div ng-repeat="day in week" 
                        class="c-day"
                        ng-class="
                          day.signature==='E' ? 'c-day--early' 
                            : (day.signature==='D' ? 'c-day--day' 
                            : (day.signature==='L' ? 'c-day--late' 
                            : (day.signature==='N' ? 'c-day--night' 
                            : 'c-day--off')))" 
                        md-whiteframe="7">
                        <span>{{day.dayId}}:{{day.signature}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-controller="ConstraintsController as $constrCtrl">
                <div ng-if="$constrCtrl.showMe">
                  <md-button class="md-raised md-warn" 
                    ng-click="$constrCtrl.checkConstraints()">
                    Check Constraints
                  </md-button>

                  <div class="o-constraints">
                    <div hardConstraints>   
                      <div class="c-constraint">
                        Hard Constraints failed: {{$constrCtrl.constraintsJson[0].failedHardSum}}
                        <md-progress-linear 
                          class="md-warn"
                          md-mode="determinate" 
                          value="{{$constrCtrl.constraintsJson[0].failedHardSum}}">
                        </md-progress-linear>
                      </div>
                      <div class="c-constraint"
                        ng-repeat="hard in $constrCtrl.constraintsJson[0].failedHards track by $index">
                        Hard{{$index+1}}: {{hard}}
                        <md-progress-linear 
                          class="md-warn"
                          md-mode="determinate" 
                          value="{{hard}}">
                        </md-progress-linear>
                      </div>
                    </div>

                    <div softConstraints>
                      <div class="c-constraint">
                        Soft Constraints failed: {{$constrCtrl.constraintsJson[1].failedSoftSum}}
                        <md-progress-linear 
                          md-mode="determinate" 
                          value="{{$constrCtrl.constraintsJson[1].failedSoftSum}}">
                        </md-progress-linear>
                      </div>
                      <div class="c-constraint" 
                        ng-repeat="soft in $constrCtrl.constraintsJson[1].failedSofts track by $index">
                        Soft{{$index+1}}: {{soft}}
                        <md-progress-linear 
                          md-mode="determinate" 
                          value="{{soft/$constrCtrl.constraintsJson[1].failedSoftSum*100}}">
                        </md-progress-linear>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div ng-controller="GeneratorController as $genCtrl">
                <div ng-if="$genCtrl.showMe">
                  tu bedzie GenerateSchedule
                </div>
              </div>
            
            </div>
          </section>
        </div>
      </section>
		</div>

	</body>
</html>