<!DOCTYPE html>
<html>

	<script src="node_modules/angular/angular.js"></script>
	<script src="app/src/NavController.js"></script>
	<script src="app/src/MainContentController.js"></script>
	<script src="app/src/HomeController.js"></script>
	<script src="app/src/FullScheduleController.js"></script>
	<script src="app/src/NurseScheduleController.js"></script>
	<script src="app/src/ConstraintsController.js"></script>
	<script src="app/src/GeneratorController.js"></script>
	<script src="node_modules/angular-material/angular-material.js"></script>
	<script src="node_modules/angular-animate/angular-animate.js"></script>
	<script src="node_modules/angular-aria/angular-aria.js"></script>
	<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
	
<!--<script type="text/javascript" src="app/src/ScheduleDirective/ScheduleDirective.js"></script>-->

	<head>
		<title>Nurse Schedule</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/left-nav.css">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/main-content.css">
		
	</head>
	<body ng-app="myApp">
		<div ng-controller="NavController" layout="column" id="left-nav" ng-cloak>

      <section layout="row" flex>
        <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')"
          md-whiteframe="4">
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
          </md-toolbar>
          <md-content ng-controller="LeftCtrl" class="nav-content">
            <md-button ng-click="showHome()" class="md-primary nav-option naw-option--normal">
              Home
            </md-button>
            <md-button ng-click="showFullSchedule()" class="md-primary nav-option naw-option--normal">
              Full scheudle
            </md-button>
            <md-button ng-click="showNurseSchedule()" class="md-primary nav-option naw-option--normal">
              Schedule for nurse
            </md-button>
            <md-button ng-click="showCheckConstraints()" class="md-primary nav-option naw-option--normal">
              Check Constraints
            </md-button>
            <md-button ng-click="showGenerateSchedule()" class="md-primary nav-option naw-option--normal">
              Generate new schedule
            </md-button>
            <md-button hide-gt-md ng-click="close()" class="md-warn nav-option nav-option--close">
              Close Sidenav
            </md-button>
          </md-content>
        </md-sidenav>
        <div style="position: absolute">
          <md-content>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
                Menu
            </md-button>
          </md-content>
        </div>
        </br>
        
        <div layout="column" ng-cloak>
          <section layout="column" id="main-content" layout-padding>
            <div>

              <div ng-controller="HomeController as $ctrl">
                <div ng-if="$ctrl.showMe">
                  Hello in Nurse Scheduling Problem Application (NSPA)
                </div>
              </div>
              <div ng-controller="FullScheduleController as $ctrl">
                <div ng-if="$ctrl.showMe">
                  tu bedzie FullSchedule
                </div>
              </div>

              <div ng-controller="NurseScheduleController as $ctrl">
                <div ng-if="$ctrl.showMe">
                  <md-input-container>
                    <label>Nurses</label>
                    <md-select ng-model="$ctrl.chosenNurse" md-selected-text="$ctrl.getSelectedText()" ng-change="$ctrl.changeNurse()">
                      <md-optgroup label="nurses">
                        <md-option ng-value="nurse" ng-repeat="nurse in $ctrl.nurses">{{nurse.name}}</md-option>
                      </md-optgroup>
                    </md-select>
                  </md-input-container>

                  <div ng-if="$ctrl.chosenNurse">
                    </br>

                    <div layout="row" >
                      <div ng-repeat="name in $ctrl.DAY_NAMES" class="c-label" md-whiteframe="7">
                        <span>{{name}}</span>
                      </div>
                    </div>

                    <div layout="row" 
                      ng-repeat="week in $ctrl.weekJson.weeks track by $index">
                      <div ng-repeat="day in week" 
                        class="c-day"
                        ng-class="
                          day.signature==='E' ? 'c-day--early' 
                            : (day.signature==='D' ? 'c-day--day' 
                            : (day.signature==='L' ? 'c-day--late' 
                            : (day.signature==='N' ? 'c-day--night' 
                            : 'c-day--off')))" 
                        md-whiteframe="7">
                        <span>{{day.dayId}}:{{day.signature}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-controller="ConstraintsController as $ctrl">
                <div ng-if="$ctrl.showMe">
                  tu bedzie CheckConstraints
                </div>
              </div>
              
              <div ng-controller="GeneratorController as $ctrl">
                <div ng-if="$ctrl.showMe">
                  tu bedzie GenerateSchedule
                </div>
              </div>
            
            </div>
          </section>
        </div>
      </section>
		</div>

	</body>
</html>