<!DOCTYPE html>
<html>

	<script src="node_modules/angular/angular.js"></script>
	<script src="app/src/MainController.js"></script>
<!--<script type="text/javascript" src="app/src/ScheduleDirective/ScheduleDirective.js"></script>-->

	<head>
		<title>Nurse Schedule</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="dist/assets/css/main.css">
		
	</head>
	<body ng-app="myApp" ng-controller="MainController">

		Hello {{firstname}}!</br>
		<input type="text" ng-model="text"></br>
		{{text}}</br>
		<button ng-click="clickMe()">Click me!</button>

	</body>
</html>